{% extends 'authentication/nav.html' %}
{% block nav %}
  <form action="">
  {% csrf_token %}
  <div class="search">
    <input class="searchStudent" type="text" name="search" required placeholder="Search">
  <button type="submit" class="btn btn-1">Search</button>
  </div>
  
  </form>
{% endblock nav %}

{% block content %}
<table>
    <tr>
      <th>Student Name</th>
      <th>College Name</th>
      <th>Specialisation</th>
      <th>Degree</th>
      <th>Internship</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Location</th>
      <th>Gender</th>
      <th>Notes</th>
      <th>Edit</th>
    </tr>
    {% if stu %}
    {% for student in stu %}
    <tr>
        <td>{{student.student_name}}</td>
        <td>{{student.college_name}}</td>
        <td>{{student.Specialisation}}</td>
        <td>{{student.degree}}</td>
        <td>{{student.internship}}</td>
        <td>{{student.phoneNo}}</td>
        <td>{{student.email}}</td>
        <td>{{student.location}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.notes}}</td>
        <td><a href="{% url 'update_data' student.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    {% endif %}
    
      
  </table>

{% endblock content %}