{% extends 'authentication/nav.html' %}
{% block nav %}
  <form action="search" method="get">
  {% csrf_token %}
  <div class="search">
    <input class="searchStudent" type="text" id="search" name="query" required placeholder="Search">
  <button type="submit" class="btn btn-1">Search</button>
  </div>
  
  </form>
{% endblock nav %}

{% block content %}
<table>
    <tr>
      <th>ID</th>
      <th>Plate Number</th>
      <th>Phone Number</th>
      <th>Edit</th>
    </tr>
    {% if stu %}
    {% for student in stu %}
    <tr>
        <td>{{student.idplate}}</td>
        <td>{{student.plateNo}}</td>
        <td>{{student.phoneNo}}</td>
        <td><a href="{% url 'update_data' student.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    {% endif %}
    
      
  </table>

{% endblock content %}