{% extends 'authentication/nav.html' %}
        
{% block content %}
    <div class="signUp">
        <form action='{% url 'update_data' obj.id %}' method="post">
            <h2>Plate Information</h2>
        {% csrf_token %}
            <input type="text" id="idplate" name="idplate" required placeholder="Plate ID" value="{{obj.idplate}}">
            <input type="text" id="colplateNolegeName" name="plateNo" required placeholder="Plate Number" value="{{obj.plateNo}}">
            <input type="text" id="phoneNo" name="phoneNo" required placeholder="Phone Number" value="{{obj.phoneNo}}">
            
            <button class="btn" type="submit">Update Plate Data</button>
        </form>
    </div>
{% endblock content %}
        